/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.9.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package com.acme.saga;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class AdminsApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /saga/applicant : adds an applicant
        **/
        rest()
            .post("/saga/applicant")
                .description("adds an applicant")
                .id("addApplicantApi")
                .consumes("application/json")
                .type(Applicant.class)
                
                .param()
                    .name("applicant")
                    .type(RestParamType.body)
                    .required(false)
                    .description("Applicant to add")
                .endParam()
                .to("direct:addApplicant");
        

        /**
        POST /saga/loan : adds a loan
        **/
        rest()
            .post("/saga/loan")
                .description("adds a loan")
                .id("addLoanApi")
                .consumes("application/json")
                .type(Loan.class)
                
                .param()
                    .name("loan")
                    .type(RestParamType.body)
                    .required(false)
                    .description("Loan to add")
                .endParam()
                .to("direct:addLoan");
        

        /**
        POST /saga/createloan : creates a loan request
        **/
        rest()
            .post("/saga/createloan")
                .description("creates a loan request")
                .id("createLoanApi")
                .consumes("application/json")
                .type(LoanRequest.class)
                
                .param()
                    .name("loanRequest")
                    .type(RestParamType.body)
                    .required(false)
                    .description("Loan request")
                .endParam()
                .to("direct:createLoan");
        
    }
}
